body {
    font-family: "poppins", sans-serif;
}

.required {
    position: relative;
}

.required::after {
    content: "*";
    position: absolute;
    top: -2px;
    right: -7px;
    color: red;
}
